<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>





</head>
<body>




	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{'/hello/hello'}">HOME</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/products/list'}">Insert Product</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/hello/hello'}">Order History</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/CRM/list'}">CRM</a></li>
			</ul>
		</div>
	</nav>




	<div class="row">
		<div class="col-md-4">
			<div class="card card-primary">
				<div class="card-heading">
					<h3 align="center">
						<i class="fa fa-product-hunt"></i> Insert Customer
					</h3>
				</div>
				<div class="card-body">
					<p class="h4 mb-4">Save Customer</p>

					<form action="#" th:action="@{/CRM/saveCustomer}"
						th:object="${customer}" method="POST">

						<!-- Add hidden form field to handle update -->
						<input type="hidden" th:field="*{id}" /> <input type="text"
							th:field="*{firstName}" class="form-control mb-4 col-4"
							placeholder="First name"> <input type="text"
							th:field="*{lastName}" class="form-control mb-4 col-4"
							placeholder="Last name"> <input type="text"
							th:field="*{email}" class="form-control mb-4 col-4"
							placeholder="Email">

						<button type="submit" class="btn btn-info col-2">Save</button>

					</form>

				</div>
				<div class="panel-footer"></div>
			</div>
		</div>


		<div class="header col-md-8">
			<h3>Customer Directory</h3>
			<hr>




			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="tempCustomer : ${customers}">

						<td th:text="${tempCustomer.firstName}" />
						<td th:text="${tempCustomer.lastName}" />
						<td th:text="${tempCustomer.email}" />

						<td>
							<!-- Add "update" button/link --> <a
							th:href="@{/CRM/showFormForUpdate(customerId=${tempCustomer.id})}"
							class="btn btn-info btn-sm"> Update </a> <!-- Add "delete" button/link -->
							<a th:href="@{/CRM/delete(customerId=${tempCustomer.id})}"
							class="btn btn-danger btn-sm"
							onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
								Delete </a>

						</td>


					</tr>
				</tbody>
			</table>


		</div>
	</div>


</body>
</html>
